{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "semi": true,
  "useTabs": true,
  "tabWidth": 2
}
